@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  background-color: hsl(0, 0%, 98%);
  color:hsl(229, 6%, 66%); 
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 30px;
}
header{
  text-align: center;
}
header h2{
  font-size: 34px;
  font-weight: 200;
}
header h3{
  font-size: 34px;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}
header p{
  margin-top: 20px;
  width: 500px;
  margin: 0 auto;
}

.main-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 25px;
  margin-top: 50px;
}
.box{
  border-radius: 7px;
  padding: 30px;
  text-align: right;
  box-shadow: 5px 4px 6px hsl(229, 6%, 66%);;
}
.box:hover{
  cursor: pointer;
  background-color: yellow;
  transition: 1s ease-in-out;
}
.box-text{
  text-align: left;
  padding-bottom: 50px;
}
.supervisor{
  border-top: 5px solid hsl(180, 62%, 55%);
}
.teambuilder{
  border-top: 5px solid hsl(0, 78%, 62%);
}
.karma{
  border-top: 5px solid hsl(34, 97%, 64%);
}
.calculator{
  border-top: 5px solid hsl(212, 86%, 64%);
}
h5{
  color: hsl(234, 12%, 34%);
  font-size: 20px;
  margin-bottom: 10px;
}
.stacked-box{
 display: flex;
 flex-direction: column;
 gap: 25px;
}
.supervisor, .calculator{
  align-self: center;
}

@media (max-width:768px){
  body{
    background-color: skyblue;
  }
  .container{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 2rem;
  }
  header h2{
    font-size: 22px;
  }
  header h3{
    font-size: 22px;
    margin-bottom: 15px;
  }
  header p{
    width: fit-content;
  }
  .main-content{
    display: flex;
    flex-direction: column;
  }
  .box{
    background-color: whitesmoke;
    padding: 20px;
  }

}
